<template name="drivers-form-1">
	<div class="container-fluid" id="list-top-drivers">
		<div class="container">
			<center>
				<h1>Start driving with Zephyr</h1>
				<h5>Fill out the drivers application, and Zephyr will reach out to you within 24 hours to get you started</h5>
			</center>

		</div>
	</div>
	<div class="container-fluid">
		<div class="container" id="drivers-form" role="main" >
			<div id="wufoo-mnvoqqf0k0zzmz" style="margin: 0 auto; padding: 60px 0px 40px 0px; background-color:#FAFBFC;">
				<iframe height="800px" allowTransparency="true" frameborder="0" scrolling="no" style="width:100%;border:none"  src="https://zephyrcar.wufoo.com/embed/mnvoqqf0k0zzmz/"><a href="https://zephyrcar.wufoo.com/forms/mnvoqqf0k0zzmz/">Fill out my Wufoo form!</a></iframe>
			</div>
			<script type="text/javascript">var mnvoqqf0k0zzmz;(function(d, t) {
			var s = d.createElement(t), options = {
			'userName':'zephyrcar', 
			'formHash':'mnvoqqf0k0zzmz', 
			'autoResize':true,
			'async':true,
			'host':'wufoo.com',
			'header':'show', 
			'ssl':true};
			s.src = ('https:' == d.location.protocol ? 'https://' : 'http://') + 'wufoo.com/scripts/embed/form.js';
			s.onload = s.onreadystatechange = function() {
			var rs = this.readyState; if (rs) if (rs != 'complete') if (rs != 'loaded') return;
			try { mnvoqqf0k0zzmz = new WufooForm();mnvoqqf0k0zzmz.initialize(options);mnvoqqf0k0zzmz.display(); } catch (e) {}};
			var scr = d.getElementsByTagName(t)[0], par = scr.parentNode; par.insertBefore(s, scr);
			})(document, 'script');
			</script>
	    </div>
	</div>
	<script>
	  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

	  ga('create', 'UA-46837517-1', 'meteor.com');
	  ga('send', 'pageview');

	</script>
</template>

<template name="drivers-form-2">
	<div class="container-fluid" id="list-top-drivers">
		<div class="container">
			<center>
				<h1>Start driving with Zephyr</h1>
				<h5>Fill out the drivers application, and Zephyr will reach out to you within 24 hours to get you started</h5>
			</center>

		</div>
	</div>
	<div class="container-fluid">
		<div class="container" id="drivers-form" role="main" >
			<div id="wufoo-mnvoqqf0k0zzmz" style="margin: 0 auto; padding: 60px 0px 40px 0px; background-color:#FAFBFC;">
				<iframe height="800px" allowTransparency="true" frameborder="0" scrolling="no" style="width:100%;border:none"  src="https://zephyrcar.wufoo.com/embed/mnvoqqf0k0zzmz/"><a href="https://zephyrcar.wufoo.com/forms/mnvoqqf0k0zzmz/">Fill out my Wufoo form!</a></iframe>
			</div>
			<script type="text/javascript">var mnvoqqf0k0zzmz;(function(d, t) {
			var s = d.createElement(t), options = {
			'userName':'zephyrcar', 
			'formHash':'mnvoqqf0k0zzmz', 
			'autoResize':true,
			'async':true,
			'host':'wufoo.com',
			'header':'show', 
			'ssl':true};
			s.src = ('https:' == d.location.protocol ? 'https://' : 'http://') + 'wufoo.com/scripts/embed/form.js';
			s.onload = s.onreadystatechange = function() {
			var rs = this.readyState; if (rs) if (rs != 'complete') if (rs != 'loaded') return;
			try { mnvoqqf0k0zzmz = new WufooForm();mnvoqqf0k0zzmz.initialize(options);mnvoqqf0k0zzmz.display(); } catch (e) {}};
			var scr = d.getElementsByTagName(t)[0], par = scr.parentNode; par.insertBefore(s, scr);
			})(document, 'script');
			</script>
	    </div>
	</div>
	<script>
	  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

	  ga('create', 'UA-46866410-1', 'meteor.com');
	  ga('send', 'pageview');

	</script>
</template>
