<template name="home1">
	<div class="container-fluid divider-inside-top-bottom">
		<div class="mask-container">
			<div id="opacity-mask">
			</div>
			<div id="landing-image">
				<div class="container">
					<div class="row">
						<div class="col-md-5" id="landing-hero">
							<span class="hero-type">Earn money without a car</span>
							<span class="hero-type"><h3>Get a Zephyr car and earn up to <strong>$35/hr</strong> driving for Uber, Lyft, and Sidecar</h3></span>
							<br><br>
							<a class="btn btn-lg button-default" href="drive"><span>Apply today</span></a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="container-fluid">
		<div id="featured-in">
			<div class="container">
				<div class="row" id="featured-in-row">
					<div class="col-md-2 col-md-offset-1">
						<center><a href="http://pando.com/2013/12/13/this-stealth-company-could-be-the-answer-to-lyft-and-ubers-scaling-woes-if-it-survives-its-first-few-months/"><img id="img-pando" src="/assets/images/pandodaily2.png"></a><center>
					</div>
					<div class="col-md-2">
						<center><a href="http://1776dc.com/2013/12/20/transportation-startup-piggy-backs-off-of-the-likes-of-uber/"><img id="img-1776" src="/assets/images/1776.png"></a></center>
					</div>
					<div class="col-md-2">
						<center><a href="http://www.uber.com"><img id="uber" src="/assets/images/uber.png"></a></center>
					</div>
					<div class="col-md-2">
						<center><a href="http://www.lyft.com"><img id="lyft" src="/assets/images/lyft.png"></a></center>
					</div>
					<div class="col-md-2">
						<center><a href="http://www.side.cr"><img id="sidecar" src="/assets/images/Sidecar_logo.png"></a></center>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="container-fluid">
		<div id="key-features">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<center><h1>Key features</h1></center>
					</div>
					<div class="col-md-4">
						<div class="row">
							<div class="col-md-12 key-feature-box">
								<h4>$50 / Day</h4>
								<p>One simple rate which covers a brand new hybrid, insurance in your name, and all maintenance costs</p>
							</div>
							<div class="col-md-12 key-feature-box">
								<h4>24-Hour Access</h4>
								<p>Use the car for ridesharing or personal use - the freedom is yours!</p>
							</div>
							<div class="col-md-12 key-feature-box">
								<h4>25% Equity</h4>
								<p>We save 25% of your Zephyr payments towards buying the car at a discount. Purchase option available after 1 year</p>
							</div>
						</div>
					</div>
					<div class="col-md-8" id="drive-for">
						<center><img id="prius" src="/assets/images/priusc.png"></center>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="container-fluid">
		<div id="how-it-works">
			<div class="container">
				<div class="row marketing-row">
					<h1>How it works</h1>
					<div class="col-md-4 marketing-block">
						<center><span class="glyphicon glyphicon-briefcase marketing-icon"><span class="marketing-icon-num">1</span></span></center>
						<p>Apply</p>
						Complete our <a href="drive" id="how-it-works-apply">application</a>, and we'll assign you to a hybrid car so you can earn income through ridesharing
					</div>
					<div class="col-md-4 marketing-block">
						<center><span class="glyphicon glyphicon-calendar marketing-icon"><span class="marketing-icon-num">2</span></span></center>
						<p>Get matched</p>
						We'll assign you a schedule based on your preferences and a partner driver who lives near you
					</div>
					<div class="col-md-4 marketing-block">
						<center><span class="glyphicon glyphicon-road marketing-icon"><span class="marketing-icon-num">3</span></span></center>
						<p>Give rides, get paid</p>
						Hop in the driver's seat and earn some serious dough - <strong>up to $35/hr</strong> - driving for Uber, Lyft, and Sidecar
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="container-fluid">
		<div id="apply-today">
			<div class="container">
				<div class="row">
					<div class="col-md-12">

						<center><a class="btn btn-lg button-default" href="drive"><span>Apply today</span></a><center>
						<br>
					</div>
				</div>

			</div>
		</div>
	</div>
	<script>
	  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

	  ga('create', 'UA-46837517-1', 'meteor.com');
	  ga('send', 'pageview');

	</script>
</template>

<template name="home2">
	<div class="container-fluid divider-inside-top-bottom">
		<div class="mask-container">
			<div id="opacity-mask">
			</div>
			<div id="landing-image">
				<div class="container">
					<div class="row">
						<div class="col-md-5" id="landing-hero">
							<span class="hero-type">Earn money without a car</span>
							<span class="hero-type"><h3>Get a Zephyr car and earn up to <strong>$35/hr</strong> driving for Uber, Lyft, and Sidecar</h3></span>
							<br><br>
							<a class="btn btn-lg button-default" href="drive"><span>Drive with us</span></a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="container-fluid">
		<div id="featured-in">
			<div class="container">
				<div class="row" id="featured-in-row">
					<div class="col-md-2 col-md-offset-1">
						<center><a href="http://pando.com/2013/12/13/this-stealth-company-could-be-the-answer-to-lyft-and-ubers-scaling-woes-if-it-survives-its-first-few-months/"><img id="img-pando" src="/assets/images/pandodaily2.png"></a><center>
					</div>
					<div class="col-md-2">
						<center><a href="http://1776dc.com/2013/12/20/transportation-startup-piggy-backs-off-of-the-likes-of-uber/"><img id="img-1776" src="/assets/images/1776.png"></a></center>
					</div>
					<div class="col-md-2">
						<center><a href="http://www.uber.com"><img id="uber" src="/assets/images/uber.png"></a></center>
					</div>
					<div class="col-md-2">
						<center><a href="http://www.lyft.com"><img id="lyft" src="/assets/images/lyft.png"></a></center>
					</div>
					<div class="col-md-2">
						<center><a href="http://www.side.cr"><img id="sidecar" src="/assets/images/Sidecar_logo.png"></a></center>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="container-fluid">
		<div id="key-features">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<center><h1>Key features</h1></center>
					</div>
					<div class="col-md-4">
						<div class="row">
							<div class="col-md-12 key-feature-box">
								<h4>$50 / Day</h4>
								<p>One simple rate which covers a brand new hybrid, insurance in your name, and all maintenance costs</p>
							</div>
							<div class="col-md-12 key-feature-box">
								<h4>24-Hour Access</h4>
								<p>Use the car for ridesharing or personal use - the freedom is yours!</p>
							</div>
							<div class="col-md-12 key-feature-box">
								<h4>25% Equity</h4>
								<p>We save 25% of your Zephyr payments towards buying the car at a discount. Purchase option available after 1 year</p>
							</div>
						</div>
					</div>
					<div class="col-md-8" id="drive-for">
						<center><img id="prius" src="/assets/images/priusc.png"></center>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="container-fluid">
		<div id="how-it-works">
			<div class="container">
				<div class="row marketing-row">
					<h1>How it works</h1>
					<div class="col-md-4 marketing-block">
						<center><span class="glyphicon glyphicon-briefcase marketing-icon"><span class="marketing-icon-num">1</span></span></center>
						<p>Apply</p>
						Complete our <a href="drive" id="how-it-works-apply">application</a>, and we'll assign you to a hybrid car so you can earn income through ridesharing
					</div>
					<div class="col-md-4 marketing-block">
						<center><span class="glyphicon glyphicon-calendar marketing-icon"><span class="marketing-icon-num">2</span></span></center>
						<p>Get matched</p>
						We'll assign you a schedule based on your preferences and a partner driver who lives near you
					</div>
					<div class="col-md-4 marketing-block">
						<center><span class="glyphicon glyphicon-road marketing-icon"><span class="marketing-icon-num">3</span></span></center>
						<p>Give rides, get paid</p>
						Hop in the driver's seat and earn some serious dough - <strong>up to $35/hr</strong> - driving for Uber, Lyft, and Sidecar
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="container-fluid">
		<div id="apply-today">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<center><a class="btn btn-lg button-default" href="drive"><span>Drive with us</span></a><center>
						<br>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script>
	  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

	  ga('create', 'UA-46866410-1', 'meteor.com');
	  ga('send', 'pageview');

	</script>
</template>